body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.carousel img {
  height: 400px;
  display: flex;
  margin: 0 auto;
  position: relative;
}
.carousel-caption h3 {
  color: white;
  display: inline;
}
.carousel-inner {
  background: #303030;
}
@media only screen and (max-width: 600px) {
  .carousel img {
    height: 300px;
  }
}
.contact-clean,
.login-clean {
  background: #f1f7fc;
  padding: 80px 0;
}
.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .contact-clean {
    padding: 20px 0;
  }
  .contact-clean form {
    padding: 30px;
  }
}
.contact-clean h2 {
  margin-top: 5px;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}
.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  outline: 0;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}
.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}
.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}
.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: 0 0;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: 0 !important;
}
.contact-clean form .btn:hover {
  opacity: 1;
}
.contact-clean form .btn:active,
.login-clean form .btn-primary:active {
  transform: translateY(1px);
}
.contact-clean form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}
.login-clean form {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  color: #f4476b;
}
.login-clean form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}
.login-clean form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: 0 !important;
}
.login-clean form .btn-primary:active,
.login-clean form .btn-primary:hover {
  background: #eb3b60;
}
.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}
.login-clean form .forgot:active,
.login-clean form .forgot:hover {
  opacity: 1;
  text-decoration: none;
}


/*     Navigation */

.navigation-clean-button,
.navigation-clean-search {
  background: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}
.navigation-clean-button .navbar-brand,
.navigation-clean-search .navbar-brand {
  font-weight: 700;
  color: inherit;
}
.navigation-clean-button .navbar-brand:hover,
.navigation-clean-search .navbar-brand:hover {
  color: #222;
}
.navigation-clean-button .navbar-toggler,
.navigation-clean-search .navbar-toggler {
  border-color: #ddd;
  color: #888;
}
.navigation-clean-button .navbar-toggler:focus,
.navigation-clean-button .navbar-toggler:hover,
.navigation-clean-search .navbar-toggler:focus,
.navigation-clean-search .navbar-toggler:hover {
  background: 0 0;
}
.navigation-clean-button .navbar-nav a.active,
.navigation-clean-button .navbar-nav > .show > a,
.navigation-clean-search .navbar-nav a.active,
.navigation-clean-search .navbar-nav > .show > a {
  background: 0 0;
  box-shadow: none;
}
.navigation-clean-button.navbar-light .navbar-nav a.active,
.navigation-clean-button.navbar-light .navbar-nav a.active:focus,
.navigation-clean-button.navbar-light .navbar-nav a.active:hover,
.navigation-clean-search.navbar-light .navbar-nav a.active,
.navigation-clean-search.navbar-light .navbar-nav a.active:focus,
.navigation-clean-search.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: 0 0;
  pointer-events: none;
}
.navigation-clean-button.navbar .navbar-nav .nav-link,
.navigation-clean-search.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}
.navigation-clean-button.navbar-light .navbar-nav .nav-link,
.navigation-clean-search.navbar-light .navbar-nav .nav-link {
  color: #465765;
}
.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-button.navbar-light .navbar-nav .nav-link:hover,
.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}
.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
}
.navigation-clean-button .dropdown-menu .dropdown-item,
.navigation-clean-button .dropdown-menu .dropdown-item:focus {
  line-height: 2;
  font-size: 14px;
  color: #37434d;
}
.navigation-clean-button .dropdown-menu .dropdown-item:focus,
.navigation-clean-button .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}
.navigation-clean-button .actions .login {
  margin-right: 1rem;
  text-decoration: none;
  color: #465765;
}
.navigation-clean-button .navbar-text .action-button,
.navigation-clean-button .navbar-text .action-button:active,
.navigation-clean-button .navbar-text .action-button:hover {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.25s;
  font-size: inherit;
}
.navigation-clean-button .navbar-text .action-button:hover,
.navigation-clean-search .action-button:focus,
.navigation-clean-search .action-button:hover {
  background: #66d7d7;
}
@media (min-width: 768px) {
  .navigation-clean-button,
  .navigation-clean-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.navigation-clean-search .navbar-collapse,
.navigation-clean-search .search-form {
  border-top-color: #ddd;
}
.navigation-clean-button .action-button:active,
.navigation-clean-search .action-button {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
}
.navigation-clean-search .search-form label {
  color: #ccc;
}
.navigation-clean-search .search-form .search-field {
  background: 0 0;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}
@media (max-width: 767px) {
  .contact-clean {
    padding: 20px 0;
  }
  .contact-clean form {
    padding: 30px;
  }
  .navigation-clean-search .search-form .search-field {
    display: inline-block;
    width: 80%;
  }
}
.navigation-clean-search .search-form .search-field:focus {
  border-bottom: 1px solid #ccc;
}
