body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

/**
 * Fix user-agent
 */

/**
 * Canvas
 */

.whiteboard {
  /* height: 100%; */
  width: 100%;
  height: 65vh;
  border: 1px solid var(--bs-blue);
}

.colors {
  position: absolute;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black {
  background-color: black;
}
.color.red {
  background-color: red;
}
.color.green {
  background-color: green;
}
.color.blue {
  background-color: blue;
}
.color.yellow {
  background-color: yellow;
}
